
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:dodgerblue;

}
#heading{
    margin-top:60px;
    margin-bottom:50px;
    text-align: center;
    font-family: "Fredoka One";
    font-size: 60px;
    color:#FAB201;
    -webkit-text-stroke: 2px white;
}
#main-container{
    height: 50%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    margin: 5px;
    border-radius: 10px;
}
#bottom_content{
    margin-top:50px;
    text-align: center;
    color: white;
    font-family: "Fredoka One",sans-serif;
    font-size: 30px;
    -webkit-text-stroke: 2px white;
}